.category-slider {
    owl-carousel-o{
        ::ng-deep{
            .owl-carousel {
                .category-icon{
                    padding: 15px 0px;
                    img{
                        transition: all 0.05s linear;
                        box-shadow: 0 0 5px rgb(0 0 0 / 5%);
                    }
                    &:hover{
                        img{
                            transition: all 0.05s ease;
                            -webkit-transition: all 0.05s ease;
                            -moz-transition: all 0.05s ease;
                            -ms-transition: all 0.05s ease;
                            -o-transition: all 0.05s ease;
                            transform: scale(calc(1.05));
                            box-shadow: 0px 0 10px rgb(0 0 0 / 32%)!important;
                        }
                    }
                }
                .owl-item .category-icon img {
                    border-radius:1.25rem;
                    box-shadow: 0 0 5px rgb(0 0 0 / 5%);
                    background: #fff;
                    padding: 26px;
                    width: 90px;
                    @media (max-width: 767px){
                        padding:12px;
                    }
                }
                > div.owl-nav{
                    position: absolute;
                    top:-65px;
                    right:10px;
        
                }
            }
        }
    }
    
}
