<div class="category-slider">
    <owl-carousel-o [options]="allcategorySlider">
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/agriculture-food" title="Agriculture and Food">
                    <img src="assets/images/category/icons/tractor.png" class="img-fluid" alt="Agriculture and Food" title="Agriculture and Food"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/apparel-textiles-accessories" title="Apparel, Textiles and Accessories">
                    <img src="assets/images/category/icons/t-shirt.png" class="img-fluid" alt="Apparel, Textiles and Accessories" title="Apparel, Textiles and Accessories"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/auto-transportation" title="Auto and Transportation">
                    <img src="assets/images/category/icons/wheel.png" class="img-fluid" alt="Auto and Transportation" title="Auto and Transportation"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/bags-shoes-accessories" title="Bags, Shoes and Accessories">
                    <img src="assets/images/category/icons/messenger-bag.png" class="img-fluid" alt="Bags, Shoes and Accessories" title="Bags, Shoes and Accessories"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/electronics" title="Electronics">
                    <img src="assets/images/category/icons/electronics_1.png" class="img-fluid" alt="Electronics" title="Electronics"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/electrical-equipment-components-telecoms" title="Electrical Equipment, Components and Telecoms">
                    <img src="assets/images/category/icons/multiple-devices.png" class="img-fluid" alt="Electrical Equipment, Components and Telecoms" title="Electrical Equipment, Components and Telecoms"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/gifts-sports-toys" title="Gifts, Sports and Toys">
                    <img src="assets/images/category/icons/fidget-spinner.png" class="img-fluid" alt="Gifts, Sports and Toys" title="Gifts, Sports and Toys"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/health-beauty" title="Health and Beauty">
                    <img src="assets/images/category/icons/heart-health.png" class="img-fluid" alt="Health and Beauty" title="Health and Beauty"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/home-lights-construction" title="Home, Lights and Construction">
                    <img src="assets/images/category/icons/home.png" class="img-fluid" alt="Home, Lights and Construction" title="Home, Lights and Construction"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/machinery-industrial-parts-tools" title="Machinery, Industrial Parts and Tools">
                    <img src="assets/images/category/icons/drill.png" class="img-fluid" alt="Machinery, Industrial Parts and Tools" title="Machinery, Industrial Parts and Tools"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/metallurgy-chemicals-rubber-plastics" title="Metallurgy, Chemicals, Rubber and Plastics">
                    <img src="assets/images/category/icons/acid-flask.png" class="img-fluid" alt="Metallurgy, Chemicals, Rubber and Plastics" title="Metallurgy, Chemicals, Rubber and Plastics"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/energy" title="Energy">
                    <img src="assets/images/category/icons/renewable-energy.png" class="img-fluid" alt="Energy" title="Energy"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">							
                <a routerLink="/category/packaging-advertising-office" title="Packaging, Advertsing and office">
                    <img src="assets/images/category/icons/stapler.png" class="img-fluid" alt="Packaging, Advertsing and office" title="Packaging, Advertsing and office"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/drugs-pharmaceuticals" title="Drugs and Pharmaceuticals">
                    <img src="assets/images/category/icons/pills.png" class="img-fluid" alt="Drugs and Pharmaceuticals" title="Drugs and Pharmaceuticals"/>
                </a>
            </div>
        </ng-template>
        <ng-template class="slide" carouselSlide>
            <div class="category-icon px-3">
                <a routerLink="/category/hospital-equipments" title="Hospital Equipments">
                    <img src="assets/images/category/icons/hospital-bed.png" class="img-fluid" alt="Hospital Equipments" title="Hospital Equipments"/>
                </a>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
