.vertical-seperator{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 6px;
		height: 80%;
		width: 3px;
		background: #ccc;
	}
	&.left{
		padding-left:10px;
		&:before{
			left:0px;
		}
	}
	&.right{
		padding-right:10px;
		&:before{
			right:0px
		}
	}
}
h1.title{
	font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}
h2.title{
	font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
}
.about-bg {
	background: #fee6e6;
	border-radius: 10px;
	padding: 2em;
}
.about-bg p {
    font-weight: 500;
    line-height: 24px;
    font-size: 15px;
	margin-bottom: 0px;
}
.dark-pink{
	background: #f12153;
	box-shadow: inset 0px 0px 21pt 10pt rgb(189 0 45 / 32%);
}
.dark-grey{
	background: #707070;
	box-shadow: inset 0px 0px 21pt 10pt rgb(64 64 64 / 32%);
}
.service-box{
	position: relative;
	overflow: hidden;
	padding: 2em 1em;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	.service-icon{
		margin: 0 auto;
	}
	.service-content h5{
		margin-top:15px;
		font-size: 14px;
	}
}
.service-box-3{	
	.service-box{
		border-radius: 30px;
		width: 100%;
    	height: 22em;
	}
	.service-icon{
		width: 8em;
		height: 8em;
		position: relative;
		margin-top: 35px;		
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			width: 100%;
			height: 3px;
			border-radius: 10px;
			background: #fff;
			z-index: 999;
		}
		img{
			width: 100px;
			height: 100px;
		}
		@media (max-width:991px){
			margin-top: 15px;
		}
	}
	.service-content{
		padding: 20px;
		h5{
			color: #fff;
			font-size: 16px;
			line-height: 24px;
		}
	} 	
	
}
.service-box-5{
	.col-6.col-md-2 {
		flex-basis: 20%;
		max-width: 20%;
		@media (max-width: 991px){
			flex-basis: 33%;
    		max-width: 33%;
		}
		@media (max-width:480px){
			flex-basis: 50%;
    		max-width: 50%;
		}
	}
	.service-box{
		border: 1px solid rgba(233,32,80,0.85);
		border-radius: 20px;
		width: 13em;
		height: 13em;
		@media (max-width: 480px){
			width: 100%;
			height: 100%;
		}
	}
	.service-icon{
		width: 4em;
		height: 4em;
		margin-top: 10px;
	}
	@media (max-width: 480px){
		[class*="col-"]{
			margin-bottom: 20px;
		}
	}
	
}
.our-goal{
	position: relative;
	overflow:hidden;
	padding:60px 0px;
	.bgimage {
	  	width: 930px;
    	height: 446px;
	  	background: url('/assets/images/about/our-mission.svg');
	  	background-repeat: no-repeat;
	  	background-position: center;
	  	background-size:cover;

	}
	.goal-content{
		position:absolute;
		top: 35%;
	}
}
.join-bg{
	background: #b4b4b4;
	border-radius: 0.3rem;
    position: relative;
	overflow: hidden;
	&:before, &:after{
		content:'';
		position: absolute;
		background: url('/assets/images/about/dots.svg');
		height: 230px;
    	width: 150px;
    	background-repeat: no-repeat;
    	top: 4px;
	}
	&:before{
		left:0px;
	}
	&:after{
		right:0px;
		transform: rotate(180deg);
	}
}