<section class="section-pagetop bg border-top breadcrumb-wrapper">
	<div class="container">
		<div class="row">
			<!-- <app-breadcrumb></app-breadcrumb> -->
		</div>
		
	</div> <!-- container //  -->
</section>
<section class="padding-y">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-10 text-center">
				<h1 class="title">About us</h1>
		   </div>
			<div class="col-md-10">
				<div class="about-bg text-center">
					<p>Tradesala is an Indian B2BC E-commerce Platform. We aim to empower Indian Products and to become the "House of Indian Brands", <br>a one stop solution for all the business needs of suppliers and customers. We are inclined towards the procurement of suppliers from various streams and providing them with a better and easier platform to conduct their business online effectively with their customers.</p>
				</div>				
			</div>
		</div>
		<div class="row align-items-center justify-content-center mt-5">
			<div class="col-12 col-md-10">
				<div class="row service-box-3">
					<div class="col-md-4">
						<div class="service-box dark-pink">
							<div class="service-icon">
								<img src="assets/images/icons/png/100/factory-100.png" width="100">
							</div>
							<div class="service-content">
								<h5>15 industries <br>over 750+ categories</h5>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service-box dark-grey">
							<div class="service-icon">
								<img src="assets/images/svg/gateway-of-india.svg">
							</div>
							<div class="service-content">
								<h5>We cover only Indian products <br>(no overseas brand)</h5>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service-box dark-pink">
							<div class="service-icon">
								<img src="assets/images/svg/india-map.svg" width="100">
							</div>
							<div class="service-content">
								<h5>Pan India delivery <br>with 100% Pin-code coverage</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<section class="padding-y">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-10 text-center">
				<h2 class="title mb-5">Industries we cover</h2>
		   </div>
		</div>
		<div class="row align-items-center justify-content-center">
			<div class="col-12 col-md-10">
				<div class="row service-box-5">
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/energy" title="Energy"><img src="assets/images/category/icons/renewable-energy.png" class="img-fluid" alt="Energy" title="Energy"/></a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/energy" title="Energy">Energy</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/metallurgy-chemicals-rubber-plastics" title="Metallurgy, Chemicals, Rubber and Plastics">
								<img src="assets/images/category/icons/acid-flask.png" class="img-fluid" alt="Metallurgy, Chemicals, Rubber and Plastics" title="Metallurgy, Chemicals, Rubber and Plastics"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/metallurgy-chemicals-rubber-plastics" title="Metallurgy, Chemicals, Rubber and Plastics">Metallurgy & Chemical</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/electronics" title="Electronics">
									<img src="assets/images/category/icons/electronics_1.png" class="img-fluid" alt="Electronics" title="Electronics"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/electronics" title="Electronics">Electronics</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/bags-shoes-accessories" title="Bags, Shoes and Accessories">
									<img src="assets/images/category/icons/messenger-bag.png" class="img-fluid" alt="Bags, Shoes and Accessories" title="Bags, Shoes and Accessories"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/bags-shoes-accessories" title="Bags, Shoes and Accessories">Bags Shoes & Accessories</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/machinery-industrial-parts-tools" title="Machinery, Industrial Parts and Tools">
									<img src="assets/images/category/icons/drill.png" class="img-fluid" alt="Machinery, Industrial Parts and Tools" title="Machinery, Industrial Parts and Tools"/>
								</a>
								
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/machinery-industrial-parts-tools" title="Machinery, Industrial Parts and Tools">
									Machinery, Industrial Parts and Tools
								</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/electrical-equipment-components-telecoms" title="Electrical Equipment, Components and Telecoms"><img src="assets/images/category/icons/multiple-devices.png" class="img-fluid" alt="Electrical Equipment, Components and Telecoms" title="Electrical Equipment, Components and Telecoms"/></a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/electrical-equipment-components-telecoms" title="Electrical Equipment, Components and Telecoms">Electrical devices & Accessories</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/hospital-equipments" title="Hospital Equipments"><img src="assets/images/category/icons/hospital-bed.png" class="img-fluid" alt="Hospital Equipments" title="Hospital Equipments"/></a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/hospital-equipments" title="Hospital Equipments">Hospital Equipments</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/home-lights-construction" title="Home, Lights and Construction"><img src="assets/images/category/icons/home.png" class="img-fluid" alt="Home, Lights and Construction" title="Home, Lights and Construction"/></a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/home-lights-construction" title="Home, Lights and Construction">Home, Lights and Construction</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/health-beauty" title="Health and Beauty">
									<img src="assets/images/category/icons/heart-health.png" class="img-fluid" alt="Health and Beauty" title="Health and Beauty"/>
								</a>	
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/health-beauty" title="Health and Beauty">Health and Beauty</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/gifts-sports-toys" title="Gifts, Sports and Toys">
									<img src="assets/images/category/icons/fidget-spinner.png" class="img-fluid" alt="Gifts, Sports and Toys" title="Gifts, Sports and Toys"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/gifts-sports-toys" title="Gifts, Sports and Toys">Gifts, Sports and Toys</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/auto-transportation" title="Auto and Transportation">
									<img src="assets/images/category/icons/wheel.png" class="img-fluid" alt="Auto and Transportation" title="Auto and Transportation"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/auto-transportation" title="Auto and Transportation">Auto and Transportation</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/agriculture-food" title="Agriculture and Food">
									<img src="assets/images/category/icons/tractor.png" class="img-fluid" alt="Agriculture and Food" title="Agriculture and Food"/>
								</a>
								
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/agriculture-food" title="Agriculture and Food">Agriculture and Food</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/apparel-textiles-accessories" title="Apparel, Textiles and Accessories">
									<img src="assets/images/category/icons/t-shirt.png" class="img-fluid" alt="Apparel, Textiles and Accessories" title="Apparel, Textiles and Accessories"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/apparel-textiles-accessories" title="Apparel, Textiles and Accessories">Apparel, Textiles and Accessories</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/packaging-advertising-office" title="Packaging, Advertsing and office">
									<img src="assets/images/category/icons/stapler.png" class="img-fluid" alt="Packaging, Advertsing and office" title="Packaging, Advertsing and office"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/packaging-advertising-office" title="Packaging, Advertsing and office">Packaging, Advertsing and office</a></h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2">
						<div class="service-box">
							<div class="service-icon ">
								<a routerLink="/category/drugs-pharmaceuticals" title="Drugs and Pharmaceuticals">
									<img src="assets/images/category/icons/pills.png" class="img-fluid" alt="Drugs and Pharmaceuticals" title="Drugs and Pharmaceuticals"/>
								</a>
							</div>
							<div class="service-content">
								<h5><a routerLink="/category/drugs-pharmaceuticals" title="Drugs and Pharmaceuticals">Drugs and Pharmaceuticals</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<section class="join-us padding-y">
	<div class="container">	
		<div class="join-bg">
			<div class="row justify-content-center align-items-center p-3">
				<div class="col-md-3">
					<img src="assets/images/about/interview.svg" class="img-fluid" />
				</div>
				<div class="col-md-3 text-center">
					<a class="btn btn-lg bg-white font-16 w-50" href="//jobs.tradesala.com">Join Us</a>
					<p class="h4 text-white mt-3">Let's Venture Together!</p>
				</div>		
			</div>				
		</div>
		
		
	</div>
</section>