<section class="section-pagetop bg border-top breadcrumb-wrapper">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<app-breadcrumb></app-breadcrumb>
		</div>
		
	</div> <!-- container //  -->
</section>
<section class="padding-y privacy-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">
				<h2 class="text-center text-uppercase">Customer Shipping Policy</h2>
				<p>This Shipping Policy relates to all shipments made in Tradesala pursuant to orders placed
                    by the customer. For the purposes of this Policy, the terms' Buyer and Seller are
                    collectively referred to as “User” and www.tradesala.com or Tradesala E-Commerce Private
                    Limited or Tradesala associated third party logistics (referred to as “Tradesala” or
                    “Website” or “Intermediary” or “Our” or “Platform” or “We”).</p>
                <p>You understand and accept that we are an intermediary marketplace platform and will
                    only be responsible to facilitate the delivery of the goods raised by you with the Seller. It
                    shall be the sole and governing responsibility of the Seller to resolve any issues/concerns
                    raised by the buyer. Tradesala will not in any way assume any liability for any failure on
                    the part of the Seller in delivering your shipment.</p>
                <h3>Shipment COD value</h3>
                <p>Cash on Delivery can only be opted for products under the value of Rs.49999/-, payments
                    for any order over and above the said value should be made only through online payment
                    at the time of placing the order.
                    </p>
                <h3>Shipment processing time</h3>
                <p>All orders maybe processed within 2-5 business days subject to availability of the stock.
                    In case of bulk orders your order processing time may vary according to the
                    manufacturing time, availability of the stock and order queues held by the Seller.
                    </p>
                <p>However, there is a possibility of the shipment being delayed when the seller receives
                    voluminous orders during special sale. If there is a significant delay in shipment of your
                    order, we will contact you via email or telephone to deliver the shipment at the earliest.</p>
                <h3>Shipment to Addresses</h3>
                <p>Tradesala ships to addresses within the Indian territory only.</p>
                <h3>International Shipping Policy</h3>
                <p>We currently do not ship outside of Indian territory.</p>
                <h3>Shipment confirmation & Order tracking</h3>
                <p>The Customer shall receive an email confirming the order to the registered email id on
                    successful placement of order in Tradesala. Further, you will receive a Shipment
                    Confirmation through your registered email once your order is shipped containing the
                    shipment tracking details.</p>
                <h3>Order Cancellation</h3>
                <p>Any cancellation of the order must be done within 24 hours after the placement of order.
                    For any cancellation post the 24 hour period, please check our returns and refund policy.</p>
                <h3>Damages</h3>
                <p>Tradesala is not liable for any products being damaged or lost during the shipping. If you
                    receive any damaged product, please contact the <a href="mailto:customersupport@tradesala.com">customersupport&#64;tradesala.com</a> to file
                    a claim with the original packaging materials and damaged goods. Legal claims, if any,
                    would exclusively be against the Seller and/or Delivery Agent.</p>
                <h3>Returns Policy</h3>
                <p>Please check our Return & Refund Policy which provides detailed information about
                    options and procedures for returning your order.</p>
                <p><strong>you are advised to review this customer shipping policy periodically for any
                    changes. Any changes to this customer shipping policy are binding and
                    effective when they are posted on this page.</strong></p>
                
			</div>
		</div>
	</div>
</section>

