<section class="padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-auto">
                <div class="failed-text">
                    <img src="assets/images/icons/png/delete-sign.png" alt="" class="img-fluid success-img">
                    <h2> Uh-oh! </h2>
                    <p class="font-30">Your order was not processed</p>
                    <p>Your purchase was not processed because you cancelled it yourself or our payment gateway partner experienced a timeout.</p>
                    <!-- <p>Transaction ID: {{ orderNumber }}</p>  -->
                    <a routerLink="/" title="Back To Home" class="btn btn-success">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
