<section class="padding-y">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <h1 class="title text-center mb-4">Contact us</h1>
            </div>
            <div class="col-md-10">
                <div class="row align-items-center mt-4">
                    <div class="col-md-8">
                        
                        <div class="contact-content">
                            <p>Thank you for reaching here.</p> 
                            <p>We are working our greatest to provide you with the best <br>service that is out there.</p>
                            <p>Incase if you have any enquries please reach out to us <br>without any hesitation.</p>
                            <p>We are always happy to help you!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info">
                            <div class="contact-detail">
                                <p>If you have any questions or feedback, please reply to this email</p>
                                <a href="mailto:feedback@tradesala.com">feedback&#64;tradesala.com</a>
                            </div>
                            <div class="contact-detail">
                                <p>For Investment details</p>
                                <a href="mailto:info@tradesala.com">info&#64;tradesala.com</a>
                            </div>
                            <div class="contact-detail">
                                <p>For Customer support</p>
                                <a href="mailto:customercare@tradesala.com">customercare&#64;tradesala.com</a>
                            </div>
                            <div class="contact-detail">
                                <p>For Vendor support</p>
                                <a href="mailto:vendorsupport@tradesala.com">vendorsupport&#64;tradesala.com</a>
                            </div>
                            <div class="contact-detail mb-0">
                                <p>For Job opportunities</p>
                                <a href="mailto:hr@tradesala.com">hr&#64;tradesala.com</a>
                            </div>
                        </div>
                        <div class="contact-info mt-3">
                            <h4 class="h5">Registered Address:</h4>
                            <h6 class="font-16">Tradesala Technologies Pvt Ltd</h6>                           
                            <address class="mb-0">
                                Old no 85/3 new no 95/3,<br>
                                Naicker street, Kadalaiyur,<br>
                                Kovilpatti,<br>
                                Thoothukudi,<br>
                                Tamil Nadu - 628902
                            </address>
                        </div>
                    </div>
                </div>
               
                
            </div>
            
        </div>
    </div>
</section>