.title{
    font-size: 40px;
    font-weight: 700;
}
.contact-content{
    text-align: center;
    p {
        font-size: 20px;
        line-height: 28px;
    }
}
.contact-info{
    padding: 2em;
    border-radius: 20px;
    box-shadow: inset 0px 1px 5px #33333336;
    text-align: center;
    .contact-detail{
        margin-bottom: 20px;

        p{
            margin-bottom: 0px;
        }
        a{
            font-weight: 600;
            font-size: 14px;
        }
    }
}