<section class="overview">
    <div class="container">
        <div class="row align-item-center justify-content-center">
            <div class="col col-md-6 text-center">
                <h1 class="page-title">House of <br>Indian brands</h1>
            </div>
        </div>
    </div>
</section>
<section class="about-content">
    <div class="container">
        <div class="row align-item-center justify-content-center">
            <div class="col col-md-9">
                <div class="content text-center">
                    <div class="w-md-90 mx-auto">
                        <p>We are India's first e-commerce platform that is dedicated to the
                            procurement of all Indian brands from multiple industries and a one-stop
                            solution for all the business needs of suppliers and customers</p>
                        <p>We are proud that we are the only platform that provides importance for
                            the Indian brands by supporting domestic sellers.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-box">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="d-grid repeat-1">
                    <div class="box-content box-1">
                        <div class="about-logo">
                            <img src="assets/images/logo-small.png" />
                        </div>
                        <h2 class="text-center w-75 m-auto">Why Customers Love us?</h2>
                    </div>
                    <div class="box-content box-2 mb-0">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#fa0644" />
                            </svg>
                        </div>
                        <div class="icon text-center mt-4">
                            <img src="assets/images/about/icon-1.svg" />
                        </div>
                        <h3 class="w-50 mt-5">Cross Platform</h3>
                    </div>
                </div>
                <!-- <div class="d-flex flex-column">
                   
                </div> -->
            </div>
            <div class="col-12 col-sm-6">
                <!-- <div class="d-flex flex-row flex-wrap justify-content-between"> -->
                <div class="d-grid repeat-2">
                    <div class="box-content box-3 text-center">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#fa5300" />
                            </svg>
                        </div>
                        <div class="icon text-center">
                            <img src="assets/images/about/icon-2.svg" />
                        </div>
                        <h3 class="mt-4">D2C first</h3>
                    </div>
                    <div class="box-content box-4 text-center">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#e2e2e2" />
                            </svg>
                        </div>
                        <div class="icon text-center">
                            <img src="assets/images/about/icon-3.svg" />
                        </div>
                        <h3 class="mt-4">Quick Buy</h3>
                    </div>
                    <div class="box-content box-5 mb-0">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#e2e2e2" />
                            </svg>
                        </div>
                        <h3 class="w-50">Empower MSME</h3>
                        <div class="icon text-right">
                            <img src="assets/images/about/icon-4.svg" />
                        </div>
                    </div>
                    <div class="box-content box-6 mb-0">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#aa02ff" />
                            </svg>
                        </div>
                        <div class="icon text-right">
                            <img src="assets/images/about/icon-5.svg" />
                        </div>
                        <h3 class="w-50">Be Private</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="d-grid repeat-1">
                    <div class="box-content box-7">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#fa0644" />
                            </svg>
                        </div>
                        <h3 class="w-75">Authentic goods</h3>
                        <div class="icon text-right">
                            <img src="assets/images/about/icon-6.svg" />
                        </div>
                    </div>
                    <div class="box-content box-8 mb-0">
                        <div class="plus-icon">                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" fill="#e2e2e2" />
                            </svg>
                        </div>
                        <div class="icon text-right mt-4">
                            <img src="assets/images/about/icon-7.svg" />
                        </div>
                        <h3 class="w-50 mt-4">Share your Wishlist</h3>
                    </div>
                </div>
                <!-- <div class="d-flex flex-column">
                    
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="about-slider">
    <div class="container">
        <div class="row">   
            <div class="col content-slider">
                <owl-carousel-o #carousel [options]="contentSlider">
                    <ng-container *ngFor="let slide of slides; let i=index;">
                        <ng-template class="slide" [id]="slide.id" carouselSlide let-owlItem >
                            <div class="item" [@activeSlide]="owlItem.isCentered ? 'active' : 'inActive'" [class]="{'center-1': owlItem.center, 'active-1': owlItem.isCentered, 'active-2': owlItem.isActive}"> 
                                <h3>{{ slide.text }}</h3>                           
                                <img src="{{slide.src}}" class="img-fluid" alt="{{ slide.id }}" title="{{ slide.id }}"/>                            
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                
            </div>
            
        </div>
    </div>
</section>
<section class="faq-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Why do we do! what we do?</h2>
            </div>
            <div class="col mt-5">                
                <div class="w-md-75 mx-auto">
                    <!-- ngb Accordion starts -->   
                     <div ngbAccordion [destroyOnHide]='false' [closeOthers]="true" (panelChange)='panelShadow($event, shadow)' activeIds="panel1" #shadow>
                        <div ngbAccordionItem [collapsed]="false" id="panel1" cardClass="open">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Unlocking the Unseen</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                       We are passionate about showcasing the exceptional products manufactured in
                                India. Unfortunately, these incredible creations often go unnoticed due to seller's
                                limited knowledge of leveraging e-commerce platforms effectively. We believe in
                                unlocking the potential of these hidden gems and providing them with the
                                spotlight they deserve.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="panel2">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>
                                    <span>Empowering Sellers</span>
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                       We offer comprehensive guidance and unwavering support to sellers,
                                empowering them to seize control of their businesses and maximize profits in the
                                dynamic e-commerce landscape. We understand the challenges sellers face,
                                and our mission is to provide the resources and expertise needed to thrive.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="panel3">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><span>Inclusive Marketplace </span></button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        We believe that every buyer should have the freedom to explore and choose
                                from a vast array of products. That's why we are committed to creating an
                                inclusive marketplace where sellers of all sizes can thrive. Whether you're
                                searching for established brands or hidden gems from emerging sellers, our
                                platform welcomes everyone. Enjoy the convenience of finding everything you
                                need in one place, while supporting a diverse community of sellers who are
                                passionate about their craft.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="panel4">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><span>Diverse and Affordable </span></button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                         As a buyer, you deserve access to a curated collection of high-quality products
                                that not only meet but surpass your expectations. we pride ourselves on offering
                                a wide range of exceptional items at affordable prices. From unique creations to
                                everyday essentials, our collection stands out from the rest, ensuring you get
                                unmatched value for your money.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem id="panel5">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><span>Fair price </span></button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        We prioritize the success and profitability of our sellers. By implementing a fair
                                profit-sharing model, we ensure that sellers receive the lion's share of their
                                earnings. This not only empowers sellers but also enables them to offer their
                                products at lower costs compared to other platforms. We firmly believe in
                                creating a level playing field where all sellers, regardless of their brand
                                recognition, can thrive and provide affordable options to buyers.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>                 
                    
                    <!-- ngb Accordion ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="investor">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Investors</h2>
            </div>
            <div class="col-12 mt-4 text-center">
                <div class="w-md-80 mx-auto">
                    <p>Building a company with our visionary approach requires an unwavering commitment and passion.
                    We are proud that we stand as pioneers in developing an exceptional e-commerce platform that
                    offers a comprehensive suite of AI-powered SaaS products for our sellers, covering every aspect
                    of their business needs. At present, we are bootstrapped and operating with limited resources.
                    However, for the immense potential for growth and expansion, we are actively seeking strategic
                    investments to propel our venture to new heights. It's important to note that investing in our
                    company involves a high level of risk but promises substantial long-term returns.</p>

                    <p>We invite interested investors to join us on this amazing journey. For further inquiries, please
                    reach out to us via <a href="mailto:info@tradesala.com"><strong>info&#64;tradesala.com</strong></a>. We welcome the opportunity to discuss our compelling
                    business model and demonstrate the value proposition we offer in the world of e-commerce and
                    AI-powered solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grow-business">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column h-100 flex-wrap align-items-center justify-content-center">
                    <h2 class="text-center">Grow your business <span>10x</span></h2>
                    <p class="w-70 w-md-100 mx-auto text-center">Getting your store online is now easy with Tradesala</p>
                    <a href="https://vendor.tradesala.com/" target="_blank" class="btn btn-lg btn-signnup">Signup Now</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="w-60 m-auto">
                    <img src="assets/images/about/slider/slider-7.svg"/>
                </div>               
            </div>
        </div>
    </div>
</section>
<section class="join-us">
    <div class="container">
        <div class="row justify-content-center align-item-center">
            <div class="col">
                <div class="mx-auto mb-4 mb-md-0">
                    <img src="assets/images/about/slider/slider-8.svg" />
                </div>
                
            </div>
            <div class="col">
                <div class="d-flex flex-column h-100 flex-wrap align-items-center justify-content-center">
                    <div class="w-md-80 mx-auto text-center">
                        <h2>Unlock your potential
                            join us today!</h2>                
                        <a href="https://jobs.tradesala.com/" target="_blank" class="btn btn-lg btn-job">Job Openings</a>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</section>

