<section class="section-pagetop bg border-top breadcrumb-wrapper">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<app-breadcrumb></app-breadcrumb>
		</div>
		
	</div> <!-- container //  -->
</section>
<section class="padding-y privacy-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">
				<h2 class="text-center text-uppercase">Customer Return and Refund policy</h2>
				<p>This Returns and Refund Policy will govern the request to return any of the
                products (“Product”) purchased by the buyer (referred to as “Buyer”, “you”,
                “your”, “yours”, etc.) from any third-party seller (“Seller”) using the Platform.
                For the purposes of this Policy, the terms' Buyer and Seller are collectively
                referred to as “User” and www.tradesala.com or Tradesala E-Commerce
                Private Limited (referred to as "Tradesala" or "Website" or "Intermediary" or
                "Our" or "Platform" or "We").</p>
                <ol>
                    <li>You understand and accept that we are an intermediary marketplace
                        platform and will only be responsible to mediate the return request raised
                        by you with the Seller. It shall be the sole and governing responsibility of
                        the Seller to resolve the issues/concerns raised by the buyer with the
                        return request. Tradesala will not in any way assume any liability for any
                        failure on the part of the Seller to resolve your issue.</li>
                    <li>You may raise a return request or any concerns on the Tradesala platform
                        with respect to any one of the following reasons:
                        <ol type="a">
                            <li>Product with physical damage (if such damage is not in transit) or
                                defective Product;</li>
                            <li>Warranty issues with respect to the Product;</li>
                            <li>Wrong Product or Product not matching the description or
                                specifications mentioned on the listing page on the Platform;
                                </li>
                            <li>Part of the order/ items are found to be missing (which is not due to
                                logistics reasons); or</li>
                            <li>Issues related to the quality of the Product delivered.</li>
                        </ol>
                    </li>
                    <li>Return request issues raised by Buyer for any of the following reasons (for
                        Seller’s own shipment):
                        <ol type="a">
                            <li>Missing Product or some items from the entire order placed found to be
                                missing due to reasons attributable to logistics provider;</li>
                            <li>Damage to the outer box delivered or Product damaged in transit; or</li>
                            <li>Any other logistics-related issues;</li>
                            <li>Will not be governed by this Policy and it will be the responsibility of
                                your logistics partner to settle any of the above-mentioned concerns
                                raised by you. You may contact your logistics service provider directly
                                for addressing the above issues. It is hereby cleared and clarified that
                                we shall not assume any responsibility for the non-redressal of your
                                issues by such logistics partner.</li>
                        </ol>
                    </li>
                    <li>Returns will be processed only if:
                        <ol type="a">
                            <li>It is determined that the product was not damaged while in your
                                possession.</li>
                            <li>product is not different from what was shipped to you.</li>
                            <li>product is returned in original condition (with brand’s/manufacturer's
                                box, MRP tag intact, user manual, warranty card and all the accessories
                                therein).</li>
                        </ol>
                    </li>
                    <li>Return are not eligible for returns/exchange if:
                        <ol type="a">
                            <li>It is “No longer needed or useful”.</li>
                            <li>Buyer tried to handle the industrial product and is unable to use it
                                which promotes or lead to any tear/damage of the product.</li>
                            <li>Any made to order product (on demand) will not be returned.</li>
                        </ol>
                    </li>
                    <li>In-case if you wish to return an electronic device that stores any personal
                        information, do ensure that you have removed all such personal
                        information from the device prior to returning it. Tradesala will not be
                        liable in any manner for any misuse or usage of such information.</li>
                    <li>Products may not be eligible for return in some cases, including cases of
                        buyer's remorse such as incorrect model or colour of product ordered or
                        incorrect product ordered.</li>
                    <li>In case if any product is marked as "non-returnable" on the product detail
                        page then the product cannot be returned.</li>
                    <li>Any replacement of products will be not be eligible, it is advisable to place
                        a new order after refund.</li>
                    <li>You can raise a return request for any of the issues as set forth under the
                        point above within a seven (7) days’ time period from the product delivered
                        date.</li>
                    <li>At the time of raising the return request, Buyer will be required to provide
                        appropriate documents/ information at the time of submission of the
                        claim. following documents / proof may include without limitation:
                        <ol type="a">
                            <li>images of the Product(s) indicating the issue in the Product/ shipment
                                delivered. The images need to capture the following: 
                                <ol type="a"> 
                                    <li>the shipping label (AWB/EWB) with Order ID; </li>
                                    <li>Order details;</li>
                                    <li>packed shipment;</li>
                                    <li>issue in the Product;</li>
                                    <li>Product damages if any;</li>
                                    <li>the IMEI number (in case the Product is a mobile phone/Tablet);</li>
                                    <li>UPC code of the product</li>
                                </ol>       
                            </li> 
                            <li>unboxing / normal video clip indicating the issues in the Product/
                                shipment delivered. The video clip needs to capture all sides of the
                                package, order details, shipping label, quantity of the Product, damages
                                in the Product, IMEI number (in case of mobile phones/Tablet),UPC
                                code of the product, any tampering with the outer box etc.;</li>
                            <li>Bill copy / tax invoice for the product received</li>   
                        </ol>
                        If we require any further information or clarification from the Buyer we will
                        contact you.
                    </li>
                    <li>Based on internal scrutiny and verification of the claim / return request,
                        we may either accept or reject the claim/ return request. In case we accept
                        the claim raised by the Buyer, we will arrange for the pick-up of the
                        Shipment (if required) that has been delivered. It shall be the
                        responsibility of the Buyer to pack the Product to be returned in a manner
                        such that the packed shipment can withstand the handling and
                        transportation process.</li>
                    <li>If the return request of the Buyer has been rejected due to the following
                        reasons that: (a) Buyer does not respond to the inquiry calls and/or calls
                        made by us to procure missing documentation and information; or (b)
                        supportive documents are insufficient, or Buyer is unable to provide
                        sufficient proof in support of the claim, Buyer may raise a new return
                        request within three (3) days from the date of such rejection.</li>
                </ol>   
                <p><strong>The seller shall decide the minimum quantity of order to qualify as “Bulk
                    Order”. The minimum qualification of “Bulk Order” shall vary from one
                    from product to another. Any orders made in bulk order are not eligible
                    for returns.</strong></p>
                    
                <ol start="14">
                    <li>Your return request will either be approved or rejected and the same will
                        be communicated to you.
                        </li>
                    <li>When the delivery option is selected as the sellers’ own shipment and If
                        your return request is approved, it shall be the sellers’ responsibility to
                        collect the product from you, and in no way Tradesala will undertake any
                        part in this return transaction..
                        </li>
                    <li>In case if the seller’s own logistics has not picked up the order within
                        fifteen (15) business days then the seller will be intimated with the same
                        and buyer refund will be initiated only upon a proper probe.</li>
                    <li>When the delivery option is selected as any other except sellers’ own
                        shipment then in all cases of approved returns, a refund will be initiated
                        to you.</li>
                    <li>On the above para (15) & (17), if all applicable refund time policy will follow
                        the same number of days.</li>
                    <li>In exceptional cases such as deficiency in service, fraud, or any other
                        circumstance which may affect the user experience on the platform, we
                        may on good faith basis and in our sole discretion decide to pay either full
                        or partial transaction amount for the disputed Product in the absence of 
                        Seller approval of such returns. The said payment of the transaction
                        amount shall be made to compensate for the inappropriate user
                        experience.</li>
                    <li>In such exceptional cases covered in para (19) above, payment will be
                        initiated to you by 5 to 7 banking business days:
                        <ol type="a">
                            <li>from the date of approval of the return request by us; or</li> 
                            <li>from the date you confirm the dispatch of the Product from your
                                designated pick-up location.</li>    
                        </ol>
                    </li>
                    <li>With the receipt and acknowledgment of the shipment from the Buyer, the
                        Seller can raise a dispute with respect to the shipment within two days
                        from receipt of the same, on failing which it shall be considered/deemed
                        as accepted by the Seller with or without any damage or fault.
                        </li>
                    <li>At the time of raising a dispute, the Seller will be required to provide
                        documents/ proof in support of the claim, which includes without
                        limitation, images of the returned product(s) indicating the issue in the
                        shipment received. The images need to clearly capture the following:
                        <ol type="a">
                            <li>the Return ID;</li>
                            <li>AWB/EWB number of the shipment;</li>
                            <li>issue observed by Seller in the returned product;</li>
                            <li>damages to the returned product;</li>
                            <li>brand name/ manufacturer’s name of the returned product; and/or
                            </li>
                            <li>the Product unique number.</li>
                        </ol>
                    </li>
                    <li>The Seller’s claim/ dispute will either be approved or rejected and the
                        same will be communicated to the Seller.</li>
                    <li>Any capitalized terms used herein this Policy and not defined explicitly
                        shall have the same meaning as defined in the Terms of Use.
                        </li>
                    <li>We reserve the right to change this policy from time to time with/without
                        notice. User agrees and is bound to any changes or modifications made to
                        this Policy as may be updated on the Platform. Your continued use of
                        <a href="https://www.tradesala.com/">www.tradesala.com</a> and it’s sub domains after any modifications will
                        constitute to the acknowledgment and agreement of the modified Return
                        and Refund Policy.</li>    
                </ol> 
                <p><strong>you are advised to review this customer return and refund policy
                    periodically for any changes. Any changes to this customer return and
                    refund policy are binding and effective when they are posted on this
                    page.</strong></p>   
			</div>
		</div>
	</div>
</section>

