
<section class="padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-auto">
                <div class="success-text text-center">
                    <div class="icon-img">
                        <img src="assets/images/icons/spinner.gif" alt="" class="img-fluid img-sm success-img">
                    </div>
                    <h6 class="mt-3">Please wait while we are processing your payment.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
