.success-text {
    text-align: center;
    i {
	    font-size: 50px;
	    color: #4ead4e;
	}
	h2 {
	    margin-top: 10px;
	    margin-bottom: 15px;
		font-size: 50px;
	}
	
	.success-img{
		width: 90px;
		height: 90px;
	}
}