<section class="padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-auto">
                <div class="success-text">
                    <img src="assets/images/icons/png/checked--v4.png" alt="" class="img-fluid success-img">
                    <h2 >Thank you.</h2>
                    <p class="font-30">Your order was placed successfully</p>
                    <div class="icontext mb-3">
                        <span class="icon icon-md">
                            <img src="assets/images/icons/png/mailing.png" />
                        </span>
                        <div class="text text-left">An email reciept with information about your order has been sent to the email address you provided, please keep it for your records.</div>
                    </div>
                    <p>You can visit "My account" at any time to check the status of your order</p>
                    <!-- <p>Transaction ID: {{ orderNumber }}</p> -->
                    <a routerLink="/" title="Back To Home" class="btn btn-success">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
