.conversation{
	li:not(:last-child):after{
		content:'';
		width:100%;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		clear:both;
		margin-bottom:10px;
		display: block;
	    position: relative;
	}
}
.required{
	color:red;
	font-size: 14px;
	font-weight: 400;
}
.w-20{
	width:20%;
}
.plus, .minus{
	position:relative;
}
.plus:before {
	background-image: url('/assets/images/icons/svg/plus.svg');
	width:18px;
	height:18px;
 }
 .minus:before {
	background-image: url('/assets/images/icons/svg/minus.svg');
	width:18px;
	height:18px;
 }
.product-quantity {
	background-color: #fff;
	border: 1px solid #EFEFEF;
	overflow: hidden;
	border-radius: 4px;
	display: inline-block;
  }
  
  .product-quantity button {
	width: 30px;
	height: 35px;
	padding: 0;
	font-size: 20px;
	border: 0;
	background-color: transparent;
	transition: all 0.4s linear;
	color: rgba(0, 0, 0, 0.8);
  }
  
  .product-quantity button:hover {
	color: #542DED;
  }
  
  .product-quantity input {
	width: 45px;
	height: 35px;
	border: 0;
	padding: 0 5px;
	text-align: right;
	font-weight: 700;
	background-color: transparent;
	color: #000;
  }