<article class="gallery-wrap">
    <div class="vertical-gallery">
        <div id="vertical-thumbnail-wrapper" class="thumbs-wrap">
            
            <owl-carousel-o [options]="verticalImages" (change)="getData($event)" (translated)="getPassedData($event)">
                <ng-container *ngFor="let image of images" >                
                    <ng-template class="slide" carouselSlide [width]="60">
                        <div class="slide" >
                            <a *ngIf="image" (click)="bigImages(bigImage, image); videoEnabled == false" class="item-thumb">
                                <img [src]='image' class="img-fluid">
                            </a>
                        </div>                  
                    </ng-template>
                </ng-container>
                <ng-container *ngFor="let video of videos;">
                    <ng-template class="slide" carouselSlide [width]="60"> 
                        <div class="slide">
                            <a *ngIf="video" (click)="bigVideo(video.url); videoEnabled == true" class="item-thumb">
                                <img [src]="video.thumbnail" class="img-fluid"/>
                            </a>
                        </div>                       
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
           
        </div>
        
        <div class="gallery-vertical">
            <ng-container *ngIf="!videoEnabled && isDesktop">
                <img [src]="bigImage" *ngIf="beforeZoom"/>
                <ng-container *ngIf="!beforeZoom && !isServer">
                    <lib-img-zoom 
                    [zoomImageSrc]="bigImage"
                    [previewImageSrc]="bigImage"
                    [imgStyle]="imgZoomOptions.imageStyle"
                    [resultStyle]="imgZoomOptions.resultStyle"
                    [enableZoom]="imgZoomOptions.enableZoom"
                    [containerStyle]=""
                    >
                    </lib-img-zoom>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!videoEnabled && (isMobile || isTablet)">
                <img [src]="bigImage" alt="">
            </ng-container>
            
            <ng-container *ngIf="videoEnabled">
                <youtube-player
                #player
                [videoId]="videoId"
                [width]="360"
                [height]="360"
                (ready)="onReady($event)"
                (stateChange)="onStateChange($event)"
                ></youtube-player>
            </ng-container>
            
        </div>
    </div>
</article> <!-- gallery-wrap .end// -->
