<section class="latest-blog padding-y">
	<div class="container">
		<div class="row">
			<div class="blog-list-section fullwidth">
				<div class="col-md-12">
					<h2 class="float-left box-heading">Latest Blog</h2>
					<owl-carousel-o [options]="latestBlog" class="row">
						<ng-template carouselSlide>							
							<div class="col blog-block transition">
								<div class="blog-info">
									<div class="image">
										<a href=""><img src="assets/images/blog/blog4-1005x670.jpg" alt="" title="" class="img-responsive"></a>
										<a class="hover-zoom" href="assets/images/blog/blog4-1005x670.jpg" data-lightbox="example-set" title=""></a>
										<a class="hover-post" href="#"></a>

									</div>							
								</div>
								<div class="caption blog-description">
									<div class="link_info">
										<span class="block-date">
											<span class="day">05 December 2019</span>
										</span>	
										<h4><a href="#">Nam nec rhoncus est </a></h4>								
										<div class="blog-text">
											<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  </span>									
										</div>
										<div class="blogdesk_info">
											<span class="blog-comment"><i class="fa fa-comment-o"></i>1 Comments</span>				
											<a class="blog-read btn" onclick="location.href = ('#');" title="Read more">Read more</a>					
										</div>
										<div class="blog-group clearfix">	

										</div>

									</div>
								</div>
							</div>
						</ng-template>
						<ng-template carouselSlide>							
							<div class="col blog-block transition">
								<div class="blog-info">
									<div class="image">
										<a href=""><img src="assets/images/blog/blog2-1005x670.jpg" alt="" title="The standard Lorem Ipsum" class="img-responsive"></a>
										<a class="hover-zoom" href="assets/images/blog/blog2-1005x670.jpg" data-lightbox="example-set" title=""></a>
										<a class="hover-post" href=""></a>

									</div>							
								</div>
								<div class="caption blog-description">
									<div class="link_info">
										<span class="block-date">
											<span class="day">05 December 2019</span>
										</span>	
										<h4><a href="#">The standard Lorem Ipsum</a></h4>								
										<div class="blog-text">
											<span>A type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially    </span>									
										</div>
										<div class="blogdesk_info">
											<span class="blog-comment"><i class="fa fa-comment-o"></i>1 Comments</span>				
											<a class="blog-read btn" onclick="location.href = ('#');" title="Read more">Read more</a>					
										</div>
										<div class="blog-group clearfix">	

										</div>

									</div>
								</div>
							</div>							
						</ng-template>
						<ng-template carouselSlide>
							<div class="col blog-block transition">
								<div class="blog-info">
									<div class="image">
										<a href=""><img src="assets/images/blog/blog3-1005x670.jpg" alt="" title="Lorem Ipsum Dolo" class="img-responsive"></a>
										<a class="hover-zoom" href="assets/images/blog/blog3-1005x670.jpg" data-lightbox="example-set" title=""></a>
										<a class="hover-post" href=""></a>

									</div>							
								</div>
								<div class="caption blog-description">
									<div class="link_info">
										<span class="block-date">
											<span class="day">05 December 2019</span>
										</span>	
										<h4><a href="#">Lorem Ipsum Dolo</a></h4>								
										<div class="blog-text">
											<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  </span>									
										</div>
										<div class="blogdesk_info">
											<span class="blog-comment"><i class="fa fa-comment-o"></i>1 Comments</span>				
											<a class="blog-read btn" onclick="location.href = ('#');" title="Read more">Read more</a>					
										</div>
										<div class="blog-group clearfix">	

										</div>

									</div>
								</div>
							</div>
						</ng-template>
						<ng-template carouselSlide>							
							<div class="col blog-block transition">
								<div class="blog-info">
									<div class="image">
										<a href=""><img src="assets/images/blog/blog4-1005x670.jpg" alt="" title="Nam nec rhoncus est " class="img-responsive"></a>
										<a class="hover-zoom" href="assets/images/blog/blog4-1005x670.jpg" data-lightbox="example-set" title=""></a>
										<a class="hover-post" href="#"></a>

									</div>							
								</div>
								<div class="caption blog-description">
									<div class="link_info">
										<span class="block-date">
											<span class="day">05 December 2019</span>
										</span>	
										<h4><a href="#">Nam nec rhoncus est </a></h4>								
										<div class="blog-text">
											<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  </span>									
										</div>
										<div class="blogdesk_info">
											<span class="blog-comment"><i class="fa fa-comment-o"></i>1 Comments</span>				
											<a class="blog-read btn" onclick="location.href = ('#');" title="Read more">Read more</a>					
										</div>
										<div class="blog-group clearfix">	

										</div>

									</div>
								</div>
							</div>
						</ng-template>
						
					</owl-carousel-o>
				</div>
			</div>
		</div>
	</div>
</section>