.blog-block{
	h4 {
	    margin: 0;
	    line-height: 20px;
	    font-size: 15px;
	    font-weight: 500;
	    text-transform: capitalize;
	}
	.blog-info .image {
	    overflow: hidden;
	    position: relative;
	}
	.blog-block img {
	    transition: all 350ms ease-out 0s;
	    -moz-transition: all 350ms ease-out 0s;
	    -o-transition: all 350ms ease-out 0s;
	    -webkit-transition: all 350ms ease-out 0s;
	}
	.hover-zoom, .hover-post{
		&::before{
			color: #ffffff;
		    font-size: 18px;
		    height: 40px;
		    display: block;
		    line-height: 40px;
		    background: #fa296c;
		    opacity: 0;
		    position: absolute;
		    text-align: center;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		    transition: all 0.3s ease 0s;
		    -webkit-transition: all 0.3s ease 0s;
		    -moz-transition: all 0.3s ease 0s;
		    -o-transition: all 0.3s ease 0s;
		    -ms-transition: all 0.3s ease 0s;
		    width: 40px;
		    z-index: 2;
		}
		&:hover:before{
			background: #fa296c;
		}
	}
	.hover-zoom::before {
	    content: "\f002";
	    font-family: "Font Awesome 5 Free";
	    right: 90%;
	}
	.hover-post:before {
	    content: '\f0c1';
	    font-family: "Font Awesome 5 Free";
	    left: 90%;
	    line-height: 43px;
	}
	
	.blog-description {
	    background: #f7f7f7;
	    padding: 36px 30px 17px;
	    position: relative;
	    .block-date {
		    background: #ffffff;
		    color: #c92027;
		    border-radius: 25px;
		    padding: 10px 20px;
		    position: absolute;
		    top: -20px;
		}
		.blog-text {
		    color: #777777;
		    font-size: 14px;
		    line-height: 24px;
		    margin: 14px 0 26px;
		}
		a{
			color: #545454;
		}
	}
	.blogdesk_info {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border-top: 1px solid #e2e2e2;
	    padding-top: 11px;
	}
	.blog-comment {
	    font-size: 14px;
	    text-transform: capitalize;
	    color: #777777;
	    .fa {
		    margin-right: 10px;
		    color: #fa296c;
		}
	}
	.blog-read.btn {
	    background: transparent;
	    padding: 0;
	    color: #c92027;
	    text-transform: uppercase;
	    font-size: 14px;
	    border: none;
	    font-weight: 500;
	    border-bottom: 2px solid #c92027;
	    box-shadow: none;
	    border-radius: 0px;
	}
}

.latest-blog .owl-carousel {
	> .owl-nav {
		>div{		
	    	width: 40px;
    		height: 40px;
		    margin: 5px;
	    	i{
	    		font-size: 18px;
	    		line-height: 40px;
    			margin: -2px 0 0px 0px;
	    	}
		}
			
	}
	&:hover{
		> .owl-nav {
			.owl-next{
				right: 10px;
			}
			.owl-prev{
				left: 10px;
			}
		}
	}

	
}