<app-breadcrumb></app-breadcrumb>
<section class="padding-y">
	<div class="container">		
		<div class="row account-area">			
		  	<div class="col-md-12 col-12">		  		
		  		<div class="card">
		  			<div class="card-header d-flex justify-content-between">
						<h4 class="card-title">Tracking Order</h4>	
						<div class="btn-wraper">
							<a routerLink="/account/dashboard/" class="btn btn-primary btn-sm mr-2">Back to dashboard</a>
						 	<button class="btn btn-white btn-sm print-btn"><i class="imind-Printer"></i>Print</button>
						</div>
									
					</div>
		  			<div class="card-body">
		  				<div class="">
		  					<form action="">
		  						<div class="form-group form-row w-50 m-auto">
		  							<label for="track-order-id" class="col-sm-3">Order Id:</label>
		  							<div class="col-sm-9">
		  								<input type="text" name="" value="" id="track-order-id" class="form-control">
		  							</div>
		  							
		  						</div>
		  					</form>
		  				</div>
		  				<h6>Order ID: OD45345345435</h6>
		  				<article class="card mt-3">
			                <div class="card-body row">
			                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
			                    <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
			                    <div class="col"> <strong>Status:</strong> <br> Picked by the courier </div>
			                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
			                </div>
			            </article>
			            <div class="order-status mt-3">							
							<ul id="progressbar">
						      <li class="active">Order Placed</li>
						      <li class="active">Pending</li> 
						      <li class="">Processed</li> 
						      <li class="">Ready To Delivery</li> 
						      <li class="">In Transit</li>
						      <li class="">Pickup</li>
						      <li class="">Delivered</li>
						    </ul>
						</div>
			             <ul class="row mt-3">
			                <li class="col-md-4">
			                    <figure class="itemside mb-3">
			                        <div class="aside">
			                        	<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571751108/Ecommerce/laptop-dell-xps-15-computer-monitors-laptops.jpg" class="img-sm border"></div>
			                        <figcaption class="info align-self-center">
			                            <p class="title">Dell Laptop with 500GB HDD <br> 8GB RAM</p> <span class="text-muted">$950 </span>
			                        </figcaption>
			                    </figure>
			                </li>
			                <li class="col-md-4">
			                    <figure class="itemside mb-3">
			                        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571750967/Ecommerce/ef192a21ec96.jpg" class="img-sm border"></div>
			                        <figcaption class="info align-self-center">
			                            <p class="title">HP Laptop with 500GB HDD <br> 8GB RAM</p> <span class="text-muted">$850 </span>
			                        </figcaption>
			                    </figure>
			                </li>
			                <li class="col-md-4">
			                    <figure class="itemside mb-3">
			                        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571750722/Ecommerce/acer-v-17-nitro-realsense.jpg" class="img-sm border"></div>
			                        <figcaption class="info align-self-center">
			                            <p class="title">ACER Laptop with 500GB HDD <br> 8GB RAM</p> <span class="text-muted">$650 </span>
			                        </figcaption>
			                    </figure>
			                </li>
			            </ul>
			             <hr>
            			<a routerLink="/account/dashboard" class="btn btn-sm btn-secondary" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
		  			</div>
		  		</div>
		  		
		  	</div>
			  
		</div>
		
	</div>
</section>
