.loading-container {
  display: flex;
  //position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  //background-color: rgba(0,0,0,0.7);
  z-index: 5;
  justify-content: center;
  align-items: center;
}
.loaderMask{
  position: absolute; 
  height: 100%; 
  width: 100%; 
  z-index: 1; 
  //background-color: rgba(100, 100, 100, 0.3);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 24px;
}
.trash, .plus, .minus{
  position:relative;
}
.plus:before {
   background-image: url('/assets/images/icons/svg/plus.svg');
   width:18px;
   height:18px;
}
.minus:before {
   background-image: url('/assets/images/icons/svg/minus.svg');
   width:18px;
   height:18px;
}
.reload:before {
   background-image: url('/assets/images/icons/svg/reload.svg');
}
.heart:before {
   background-image: url('/assets/images/icons/svg/heart.svg');
}
.trash:before {
   background-image: url('/assets/images/icons/svg/trash.svg');
   width:18px;
   height:18px;
}
.icon-shopping-cart:before{
  content:'';
  background-image: url('/assets/images/icons/png/100/icons-shopping-cart-100.png');
  width:60px;
  height:60px;
  position: relative;
  margin: 0 auto;
  left: auto;
  right: auto;
}
.cart-table .action li{display:inline-block; cursor: pointer;}
.offer {
  background: #f6d9a6;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #e19e28;
  margin-right:6px;
  color: #000!important;
}
::ng-deep{
  .variant .option{
    margin-right: 5px;
    font-weight: 600;
    font-size: 12px;  
  }
}
.price-col p{
  font-size: 12px;
  font-weight: 600;
}
.alert-sm{
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: max-content;
}
/*==================================================================
                   15. Pricing css
==================================================================*/
/*=====  Checkout Style 1 =====*/
.total-payable{
  th, td{
    border:none;
  }
  td {
    padding: 5px 0px;
  }
}
.checkout-style-1 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
}

.checkout-table {
  .table {
    margin-bottom: 0;
    thead tr{
      th {
        padding: 16px 10px;
        border: 0;
        font-size: 15px;
        font-weight: 600;
        &:first-child{
          padding-left: 25px;
        }
        .product {
          min-width: 240px;
        }
        .size {
          min-width: 195px;
          width: 195px;
        }
        .quantity {
          width: 100px;
        }
        .price {
          min-width: 140px;
          width: 140px;
        }
        .action {
          min-width: 80px;
          width: 80px;
        }
      }
    }
    tbody tr td {
      border: 0;
      padding: 8px 10px;
      /*vertical-align: middle;*/
    }
  }
  .product-cart {
    .product-content {
      padding-left: 8px;
      .title a {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        transition: all 0.3s linear;
        &:hover {
          color: #542DED;
        }
        
      }
      span {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        margin-top: 4px;
        color: #7D7D7D;
      }
      p{
        margin-bottom:0px;
      }
    }
  }
  .product-size {
    position: relative;
    .nice-select {
      width: 70px;
      border: 1px solid #F2F2F2;
      height: 35px;
      line-height: 33px;
      background-color: transparent;
      padding: 0 10px;
      float: none;
      border-radius: 4px;
      &::after {
        width: 9px;
        height: 9px;
        right: 10px;
        border-color: #000;
      }
      .current {
        font-size: 16px;
        color: #000;
        line-height: 33px;
        font-weight: 500;
      }
      .list {
        width: 100%;
      }
    }
  }
  .price {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000;
  }
  .action li {
    display: inline-block;
    cursor: pointer;
    a {
      font-size: 24px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      &.favorite {
        color: #7D7D7D;
      }
      &.delete {
        color: #FF4B22;
      }
    }
  }
}

.product-quantity {
  background-color: #fff;
  border: 1px solid #EFEFEF;
  overflow: hidden;
  border-radius: 4px;
  display: inline-block;
  button {
    width: 30px;
    height: 35px;
    padding: 0;
    font-size: 20px;
    border: 0;
    background-color: transparent;
    transition: all 0.4s linear;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: #542DED;
    }
  }
  input {
    width: 45px;
    height: 35px;
    border: 0;
    padding: 0 5px;
    text-align: right;
    font-weight: 700;
    background-color: transparent;
    color: #000;
  }
}

.checkout-coupon-total {
  .checkout-coupon {
    width: 50%;
    padding: 16px;
    @media (max-width: 767px) {
      width: 100%;
    }
    span {
      font-size: 13px;
      line-height: 16px;
      color: #000;
    }
    .single-form {
      margin-top: 0;
      .form-input {
        width: 194px;
        margin-top: 8px;
        margin-right: 8px;
      }
      .btn {
        margin-top: 8px;
      }
    }
  }
  .checkout-total {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
      border-left: 0;
    }
    .single-total {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-end;
      padding: 0 8px;
      .value {  
        font-size: 0.84rem;
        line-height: 32px;
        margin-right: 16px;
        color: #000;
      }
      .price {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #000;
        width: 85px;
      }
      &.total-payable {
        border-top: 1px solid #F2F2F2;
        .value {
          font-weight: 500;
        }
        
      }
      
    }
    @media (max-width: 767px) {
      .total-payable{
        tr {
          td:first-child{
            width:68%;
          }
        }
      }
    }
  }
  &.checkout-coupon-total-2{
    .checkout-coupon {
      width: 70%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .checkout-total {
      width: 30%;
      @media (max-width: 767px) {
        width: 100%;
      }
      .single-total {
        justify-content: space-between;
        .price {
          width: auto;
        }
      }
    }
  } 
}

.checkout-btn {
  padding: 0px 16px 16px;
  @media (max-width:767px){
    text-align: center;
  }
  .btn {
    margin-top: 16px;
  }
}

.empty-cart-content {
  text-align: center;
  padding: 50px 0; 
    .cart-empty-message {
      font-size: 1.42857em; 
    }
    .empty-cart-icon {
      font-size: 3.57143em;
    }
}
img.thumb {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  @media (max-width:480px){
    height: auto;
  }
}
.total-txt, .total-amt{
  font-size: 20px;
}
.empty-cell{
  // width:130px;
  width: 64px;
}
.remove-coupon{
  font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #fd5d63;
    color:#fff!important;
    cursor: pointer;
}