<div class="row account-area">
	<div class="col-md-12 col-12">		  		
  		<div class="card card-border" *ngIf="wishlists$?.length > 0">
  			
  			<div class="card-body">
  				<div class="row">
					<ng-container *ngFor="let wishlist of wishlists$ | paginate : {
						itemsPerPage: pageSize,
						currentPage: page,
						totalItems: count
						};">
						<app-product-card [product]="wishlist?.product" class="col-md-2" (removeWishlistEmit)="removeWishlist($event)"></app-product-card>
					</ng-container>
  				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="float-right">
							 <pagination-controls previousLabel="Prev" nextLabel="Next"
							(pageChange)="handlePageChange($event)" responsive="true"></pagination-controls>
						</div>                           
					</div>
				</div>
  				
  			</div>
  		</div>
		<div class="card card-border mt-3" *ngIf="wishlists$?.length < 1">
			<div class="card-body text-center">
				<h4 class="card-title mb-0">No Wishlist Product Found.</h4>								
			</div>
		</div>
		
  	</div>
</div>