.list-address{
    .form-check{
        input + label {
            padding-left: 0.5rem;
        }
    }
    
    a.address-btn{
        color: #c92027;
        &:hover{
            color: #800000;
        }
    }
    .default-badge{
        padding:5px 10px;
        margin-top: 2px;
        margin-left: 15px;
        
    }
}
